In [1]:
import pandas as pd
import numpy as np
from tqdm.notebook import tqdm
from sklearn.model_selection import train_test_split

In [174]:
data = pd.read_csv('train.csv')

### TODO
1. Remove pH > 11
2. Mean of duplicates

In [177]:
data['len'] = res

In [197]:
for i in range(231):
    if data.sort_values(by='len').iloc[10001].protein_sequence[i] != data.sort_values(by='len').iloc[10002].protein_sequence[i]:
        print(i)

128
131

In [204]:
for i in range(1, 10):
    print(data.sort_values(by='len').iloc[i].protein_sequence)
    print(data.sort_values(by='len').iloc[i].tm)

RPAVT
50.4
TVIHLVG
44.4
LVVGTALNYINIF
58.3
SCQGTGKDSHSFSS
37.7
FGEDIKHLGNSISRAA
64.4
VPTVSFLGSISAMQFIQ
38.7
KVPVDDQFRRVNNGGATDT
52.6
IYEHINEGKLWKHIKHKYENK
59.7
KFKLCRICFRELAYKGQLPGIKKAS
76.3

In [117]:
unique, counts = np.unique(data.pH.values, return_counts=True)

In [118]:
unique

array([8.])

In [119]:
counts

array([502], dtype=int64)

In [175]:
res = []
for i in range(len(data)):
    res.append(len(data.iloc[i, 1]))

In [176]:
res

[341,
 286,
 497,
 265,
 1451,
 380,
 380,
 301,
 287,
 163,
 217,
 265,
 55,
 1643,
 81,
 228,
 114,
 380,
 904,
 284,
 203,
 645,
 213,
 192,
 341,
 501,
 400,
 206,
 313,
 109,
 329,
 354,
 324,
 278,
 506,
 150,
 448,
 155,
 477,
 352,
 449,
 448,
 345,
 346,
 330,
 455,
 448,
 286,
 446,
 530,
 169,
 88,
 210,
 352,
 499,
 461,
 1417,
 530,
 1539,
 676,
 341,
 247,
 203,
 792,
 299,
 56,
 415,
 225,
 631,
 106,
 106,
 106,
 106,
 106,
 106,
 106,
 106,
 106,
 106,
 106,
 106,
 106,
 106,
 384,
 495,
 436,
 194,
 566,
 189,
 219,
 518,
 480,
 636,
 332,
 679,
 621,
 530,
 686,
 406,
 181,
 1515,
 194,
 308,
 306,
 516,
 514,
 348,
 291,
 168,
 867,
 761,
 255,
 389,
 301,
 402,
 469,
 322,
 247,
 1047,
 1041,
 1019,
 1006,
 340,
 722,
 789,
 329,
 462,
 90,
 57,
 942,
 339,
 319,
 487,
 300,
 223,
 327,
 411,
 534,
 271,
 547,
 555,
 248,
 369,
 358,
 740,
 109,
 343,
 186,
 129,
 372,
 261,
 313,
 227,
 442,
 210,
 297,
 152,
 141,
 335,
 223,
 415,
 447,
 399,
 243,
 514,
 345,
 178,
 510,
 137,
 588,
 393,
 481,
 630,
 280,
 100,
 261,
 472,
 233,
 666,
 110,
 353,
 498,
 538,
 62,
 393,
 213,
 196,
 382,
 46,
 214,
 180,
 335,
 226,
 293,
 161,
 26,
 113,
 324,
 544,
 519,
 232,
 177,
 419,
 443,
 110,
 153,
 45,
 645,
 337,
 537,
 1027,
 101,
 323,
 323,
 502,
 596,
 994,
 760,
 359,
 124,
 442,
 89,
 408,
 348,
 204,
 420,
 395,
 160,
 383,
 749,
 294,
 393,
 542,
 290,
 511,
 264,
 520,
 519,
 387,
 1339,
 282,
 262,
 134,
 538,
 536,
 1996,
 271,
 243,
 377,
 638,
 323,
 238,
 181,
 237,
 90,
 92,
 551,
 191,
 285,
 802,
 142,
 1026,
 231,
 319,
 485,
 216,
 53,
 689,
 500,
 500,
 60,
 1816,
 257,
 318,
 164,
 213,
 371,
 638,
 368,
 56,
 270,
 209,
 256,
 414,
 529,
 468,
 741,
 44,
 586,
 249,
 308,
 497,
 343,
 376,
 657,
 687,
 367,
 267,
 296,
 432,
 562,
 206,
 250,
 236,
 527,
 396,
 405,
 403,
 324,
 1289,
 436,
 408,
 115,
 529,
 429,
 237,
 303,
 230,
 1272,
 109,
 228,
 337,
 352,
 198,
 692,
 2193,
 157,
 159,
 72,
 405,
 239,
 451,
 552,
 281,
 315,
 131,
 586,
 259,
 246,
 250,
 52,
 1573,
 263,
 662,
 653,
 429,
 583,
 244,
 58,
 78,
 126,
 2379,
 121,
 100,
 673,
 336,
 476,
 638,
 234,
 181,
 418,
 586,
 402,
 409,
 456,
 1394,
 555,
 154,
 601,
 339,
 170,
 126,
 517,
 544,
 366,
 684,
 537,
 325,
 90,
 370,
 432,
 164,
 468,
 525,
 280,
 253,
 163,
 286,
 281,
 367,
 555,
 79,
 1420,
 508,
 103,
 315,
 110,
 174,
 372,
 604,
 186,
 1444,
 805,
 296,
 173,
 310,
 904,
 870,
 417,
 293,
 554,
 533,
 445,
 747,
 400,
 512,
 120,
 120,
 577,
 326,
 496,
 357,
 507,
 407,
 308,
 1375,
 39,
 39,
 332,
 405,
 412,
 412,
 243,
 623,
 244,
 490,
 382,
 138,
 2297,
 638,
 598,
 280,
 350,
 213,
 310,
 309,
 545,
 638,
 335,
 228,
 808,
 265,
 83,
 490,
 522,
 108,
 438,
 260,
 465,
 501,
 495,
 401,
 603,
 378,
 1606,
 397,
 303,
 455,
 162,
 204,
 188,
 435,
 338,
 1067,
 295,
 685,
 504,
 1329,
 254,
 166,
 212,
 635,
 441,
 496,
 329,
 309,
 426,
 543,
 785,
 715,
 197,
 197,
 367,
 996,
 310,
 314,
 180,
 508,
 483,
 381,
 105,
 950,
 719,
 66,
 483,
 300,
 1736,
 383,
 405,
 702,
 411,
 789,
 340,
 538,
 440,
 244,
 1187,
 286,
 507,
 781,
 84,
 413,
 266,
 690,
 271,
 297,
 376,
 1374,
 244,
 221,
 418,
 419,
 428,
 433,
 286,
 258,
 412,
 281,
 664,
 205,
 420,
 583,
 290,
 429,
 330,
 212,
 108,
 669,
 641,
 943,
 203,
 193,
 184,
 658,
 747,
 629,
 1470,
 442,
 1087,
 339,
 1055,
 691,
 291,
 443,
 341,
 346,
 473,
 119,
 678,
 264,
 447,
 247,
 224,
 311,
 183,
 137,
 93,
 1395,
 4525,
 4525,
 217,
 130,
 119,
 555,
 254,
 635,
 340,
 492,
 381,
 502,
 225,
 718,
 768,
 437,
 147,
 353,
 565,
 787,
 382,
 563,
 627,
 2455,
 298,
 278,
 641,
 108,
 252,
 475,
 998,
 737,
 426,
 416,
 294,
 371,
 355,
 2645,
 202,
 713,
 442,
 174,
 193,
 278,
 318,
 401,
 162,
 241,
 176,
 120,
 57,
 467,
 268,
 137,
 364,
 197,
 141,
 651,
 842,
 681,
 114,
 369,
 490,
 350,
 630,
 192,
 464,
 412,
 385,
 431,
 187,
 315,
 68,
 186,
 168,
 463,
 1020,
 326,
 330,
 412,
 220,
 294,
 197,
 899,
 583,
 198,
 312,
 445,
 306,
 252,
 383,
 378,
 420,
 46,
 257,
 490,
 519,
 411,
 360,
 373,
 950,
 411,
 483,
 394,
 315,
 346,
 592,
 556,
 151,
 403,
 406,
 364,
 110,
 357,
 731,
 857,
 244,
 387,
 219,
 153,
 832,
 290,
 185,
 281,
 992,
 851,
 345,
 289,
 813,
 336,
 403,
 248,
 314,
 252,
 299,
 244,
 161,
 174,
 143,
 720,
 329,
 553,
 913,
 67,
 248,
 752,
 984,
 449,
 197,
 153,
 180,
 167,
 430,
 428,
 1311,
 648,
 624,
 525,
 433,
 363,
 133,
 976,
 260,
 559,
 458,
 345,
 459,
 366,
 290,
 185,
 264,
 760,
 144,
 358,
 318,
 876,
 209,
 281,
 490,
 776,
 299,
 136,
 238,
 170,
 515,
 285,
 669,
 466,
 33,
 1115,
 212,
 265,
 309,
 1248,
 489,
 147,
 473,
 439,
 272,
 352,
 207,
 194,
 160,
 431,
 215,
 279,
 184,
 434,
 312,
 495,
 316,
 834,
 597,
 345,
 164,
 744,
 373,
 498,
 125,
 324,
 594,
 154,
 352,
 284,
 903,
 504,
 226,
 168,
 1046,
 536,
 511,
 338,
 551,
 314,
 455,
 796,
 717,
 329,
 705,
 521,
 555,
 232,
 236,
 560,
 237,
 127,
 182,
 355,
 584,
 384,
 183,
 353,
 1035,
 4835,
 137,
 620,
 527,
 668,
 229,
 263,
 267,
 619,
 1205,
 222,
 499,
 1169,
 392,
 121,
 126,
 307,
 413,
 293,
 520,
 260,
 517,
 560,
 446,
 217,
 191,
 362,
 190,
 107,
 980,
 675,
 311,
 114,
 114,
 114,
 114,
 114,
 114,
 114,
 114,
 114,
 114,
 114,
 507,
 584,
 433,
 321,
 504,
 251,
 630,
 693,
 461,
 617,
 601,
 510,
 356,
 522,
 542,
 274,
 446,
 289,
 1905,
 750,
 588,
 268,
 356,
 391,
 87,
 962,
 257,
 453,
 792,
 263,
 203,
 330,
 537,
 1120,
 152,
 472,
 481,
 388,
 967,
 405,
 563,
 454,
 425,
 688,
 1044,
 528,
 1152,
 2072,
 202,
 379,
 568,
 311,
 760,
 146,
 493,
 148,
 1046,
 253,
 358,
 186,
 180,
 443,
 421,
 261,
 618,
 472,
 424,
 452,
 642,
 642,
 459,
 340,
 918,
 276,
 255,
 288,
 1868,
 617,
 792,
 314,
 60,
 426,
 125,
 234,
 364,
 250,
 399,
 526,
 164,
 268,
 239,
 208,
 365,
 437,
 126,
 257,
 205,
 565,
 96,
 96,
 96,
 430,
 335,
 269,
 213,
 279,
 292,
 96,
 96,
 96,
 96,
 96,
 96,
 96,
 96,
 96,
 96,
 96,
 96,
 96,
 96,
 96,
 96,
 96,
 96,
 96,
 ...]

In [5]:
data.iloc[0].protein_sequence

'AAAAKAAALALLGEAPEVVDIWLPAGWRQPFRVFRLERKGDGVLVGMIKDAGDDPDVTHGAEIQAFVRFASEDRLEGGEGVGVVTKPGLGVPVGEPAINPVPRRMIWEAVREVTERPLAVTIAIPGGEELAKKTLNPRLGILGGLSVLGTTGVVKPYSTSAFRMSVVQAVGVARANGLLEIAATTGGKSERFAQRLLPHLPEMAFIEMGDFVGDVLRAARKVGVEVVRVVGMIGKISKMADGKTMTHAAGGEVNLSLLLSLLKEAGASPKALKEAEGAATARRFLEIALEEGLELFFVNLVRLAQEKLQAYIGERPFVSVALTDFDEGRCLAAWPDREVYR'

In [384]:
X_train = []
for i in tqdm(range(len(train_data))):
    res = [0]*20
    for x in train_data.iloc[i].protein_sequence:
        res[char_dict[x] - 1] += 1
    #res.append(train_data.iloc[i].pH)
    #res.append(len(train_data.iloc[i].protein_sequence))
    res = np.array(res)/ len(train_data.iloc[i].protein_sequence)
    X_train.append(res)

  0%|          | 0/21973 [00:00<?, ?it/s]

In [385]:
X_test = []
for i in tqdm(range(len(test_data))):
    res = [0]*20
    for x in test_data.iloc[i].protein_sequence:
        res[char_dict[x] - 1] += 1
    #res.append(test_data.iloc[i].pH)
    #res.append(len(test_data.iloc[i].protein_sequence))
    res = np.array(res)/ len(test_data.iloc[i].protein_sequence)
    X_test.append(res)

  0%|          | 0/9417 [00:00<?, ?it/s]

In [410]:
from sklearn.ensemble import RandomForestRegressor

In [386]:
import xgboost as xgb

In [387]:
X_train, X_test = np.array(X_train), np.array(X_test)
y_train, y_test = train_data.tm.values, test_data.tm.values

In [411]:
model = RandomForestRegressor()

In [412]:
model.fit(X_train, y_train)

RandomForestRegressor()

In [413]:
preds = model.predict(X_train)

In [414]:
scipy.stats.spearmanr(y_train, preds)

SpearmanrResult(correlation=0.9113004595537421, pvalue=0.0)

In [421]:
preds = model.predict(X_test)

In [422]:
scipy.stats.spearmanr(y_test, preds)

SpearmanrResult(correlation=0.5633632483756278, pvalue=0.0)

In [394]:
X_subm = []
for i in tqdm(range(len(subm_data))):
    res = [0]*20
    for x in subm_data.iloc[i].protein_sequence:
        res[char_dict[x] - 1] += 1
    #res.append(subm_data.iloc[i].pH)
    #res.append(len(subm_data.iloc[i].protein_sequence))
    res = np.array(res)/ len(subm_data.iloc[i].protein_sequence)
    X_subm.append(res)

  0%|          | 0/2413 [00:00<?, ?it/s]

In [395]:
X_subm = np.array(X_subm)

In [417]:
preds = model.predict(X_subm)

In [420]:
preds

array([50.13226667, 50.46726667, 50.13226667, ..., 49.94126667,
       49.94126667, 49.94126667])

In [353]:
train_data, test_data = train_test_split(data, test_size=0.3)

In [142]:
codes = ['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L',
         'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'V', 'W', 'Y']

def create_dict(codes):
    char_dict = {}
    for index, val in enumerate(codes):
        char_dict[val] = index+1

    return char_dict

char_dict = create_dict(codes)

print(char_dict)
print("Dict Length:", len(char_dict))

{'A': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5, 'G': 6, 'H': 7, 'I': 8, 'K': 9, 'L': 10, 'M': 11, 'N': 12, 'P': 13, 'Q': 14, 'R': 15, 'S': 16, 'T': 17, 'V': 18, 'W': 19, 'Y': 20}
Dict Length: 20

In [143]:
def integer_encoding(data):
    """
    - Encodes code sequence to integer values.
    - 20 common amino acids are taken into consideration
    and rest 4 are categorized as 0.
    """
  
    encode_list = []
    for row in tqdm(data['protein_sequence'].values):
        row_encode = []
        for code in row:
            row_encode.append(char_dict.get(code, 0))
        encode_list.append(np.array(row_encode))

    return encode_list

In [144]:
train_encode = integer_encoding(train_data) 
test_encode = integer_encoding(test_data)

  0%|          | 0/451 [00:00<?, ?it/s]

  0%|          | 0/51 [00:00<?, ?it/s]

In [145]:
def pad_sequence(seq, l=336):
    res = np.zeros((l))
    if seq.shape[0] <= l:
        res[:seq.shape[0]] = seq
    else:
        res[:l] = seq[:l]
    return res

In [146]:
for i in tqdm(range(len(train_encode))):
    train_encode[i] = pad_sequence(train_encode[i])
for i in tqdm(range(len(test_encode))):
    test_encode[i] = pad_sequence(test_encode[i])

  0%|          | 0/451 [00:00<?, ?it/s]

  0%|          | 0/51 [00:00<?, ?it/s]

In [147]:
X_train, X_test = np.array(train_encode), np.array(test_encode)
y_train, y_test = train_data.tm.values, test_data.tm.values

In [148]:
from sklearn.preprocessing import OneHotEncoder

In [153]:
enc = OneHotEncoder()

In [154]:
X_train_one_hot = enc.fit_transform(X_train)
X_test_one_hot = enc.transform(X_test)

ValueError: Found unknown categories [19.0] in column 3 during transform

In [155]:
import xgboost as xgb

In [156]:
model = xgb.XGBRegressor(n_jobs=4)

In [157]:
model.fit(X_train_one_hot, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=100, n_jobs=4,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, ...)

In [158]:
y_train_pred = model.predict(X_train_one_hot)
y_test_pred = model.predict(X_test_one_hot)

In [159]:
from sklearn.metrics import mean_squared_error

In [160]:
mean_squared_error(y_train, y_train_pred)

101.32605786504966

In [161]:
mean_squared_error(y_test, y_test_pred)

458.7289708192821

In [162]:
import scipy.stats

In [163]:
scipy.stats.spearmanr(y_train, y_train_pred)

SpearmanrResult(correlation=0.7564296934278296, pvalue=8.182054889292644e-85)

In [164]:
scipy.stats.spearmanr(y_test, y_test_pred)

SpearmanrResult(correlation=0.12150861642080837, pvalue=0.39566640480484316)

In [343]:
subm_data = pd.read_csv('test.csv')

In [344]:
subm_data

,seq_id,protein_sequence,pH,data_source
0,31390,VPVNPEPDATSVENVAEKTGSGDSQSDPIKADLEVKGQSALPFDVD...,8,Novozymes
1,31391,VPVNPEPDATSVENVAKKTGSGDSQSDPIKADLEVKGQSALPFDVD...,8,Novozymes
2,31392,VPVNPEPDATSVENVAKTGSGDSQSDPIKADLEVKGQSALPFDVDC...,8,Novozymes
3,31393,VPVNPEPDATSVENVALCTGSGDSQSDPIKADLEVKGQSALPFDVD...,8,Novozymes
4,31394,VPVNPEPDATSVENVALFTGSGDSQSDPIKADLEVKGQSALPFDVD...,8,Novozymes
...,...,...,...,...
2408,33798,VPVNPEPDATSVENVILKTGSGDSQSDPIKADLEVKGQSALPFDVD...,8,Novozymes
2409,33799,VPVNPEPDATSVENVLLKTGSGDSQSDPIKADLEVKGQSALPFDVD...,8,Novozymes
2410,33800,VPVNPEPDATSVENVNLKTGSGDSQSDPIKADLEVKGQSALPFDVD...,8,Novozymes
2411,33801,VPVNPEPDATSVENVPLKTGSGDSQSDPIKADLEVKGQSALPFDVD...,8,Novozymes
2412,33802,VPVNPEPDATSVENVWLKTGSGDSQSDPIKADLEVKGQSALPFDVD...,8,Novozymes

In [345]:
res = []
for i in range(len(subm_data)):
    res.append(len(subm_data.iloc[i, 1]))

In [350]:
unique, counts = np.unique(res, return_counts=True)

In [351]:
unique

array([220, 221])

In [352]:
counts

array([  77, 2336], dtype=int64)

In [167]:
X_subm = integer_encoding(subm_data)

  0%|          | 0/2413 [00:00<?, ?it/s]

In [168]:
for i in tqdm(range(len(X_subm))):
    X_subm[i] = pad_sequence(X_subm[i])

  0%|          | 0/2413 [00:00<?, ?it/s]

In [169]:
X_subm = np.array(X_subm)

In [68]:
X_subm_one_hot = enc.transform(X_subm)

In [170]:
preds = model.predict(X_subm_one_hot)

In [289]:
res = pd.DataFrame()

In [290]:
res['seq_id'] = subm_data.seq_id.values
res['tm'] = preds

In [291]:
res

      seq_id         tm
0      31390  40.223530
1      31391  40.451073
2      31392  40.223530
3      31393  46.884827
4      31394  44.742954
...      ...        ...
2408   33798  40.896793
2409   33799  42.148048
2410   33800  40.896793
2411   33801  40.192673
2412   33802  37.405926

[2413 rows x 2 columns]

In [292]:
res.to_csv('submission.csv', index=False)

In [83]:
unique, counts = np.unique(subm_data.pH.values, return_counts=True)

In [86]:
unique

array([8], dtype=int64)

In [85]:
counts

array([2413], dtype=int64)